@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');

body::before{
    display: block;
    content: '';
    height: 70px;
}

@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}

@media(max-width: 576px){
    .funda{
        width: 100% !important;
    }
}

